### Consulta 1
def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

-- precio en tabla steam_games
-- recommend (True or false) en tabla user_revs
-- cantidad de items sería un count de unique (item_id) en tabla user_items

In [2]:
import pandas as pd

In [3]:
columns = ['id', 'price']
games_price = pd.read_csv(r'./datasets/steam_games.csv', usecols=columns)
games_price.head()

          price        id
0          4.99  761140.0
1  Free To Play  643980.0
2  Free to Play  670290.0
3          0.99  767400.0
4          2.99  773570.0

In [4]:
games_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   30758 non-null  object
 1   id      32133 non-null  float64
dtypes: float64(1), object(1)
memory usage: 502.2+ KB

In [11]:
unique_list = []
for i in games_price['price']:
    try:
        float(i)
    except:
        unique_list.append(i)

uniques = set(unique_list)
uniques_not_free = ['Starting at $499.00', 'Starting at $449.00']

In [18]:
print(uniques)

{'Free to Try', 'Free to Play', 'Play for Free!', 'Play WARMACHINE: Tactics Demo', 'Play Now', 'Free HITMAN™ Holiday Pack', 'Free To Play', 'Play the Demo', 'Starting at $499.00', 'Third-party', 'Free Movie', 'Starting at $449.00', 'Free', 'Install Now', 'Free Demo', 'Install Theme', 'Free to Use', 'Free Mod'}

In [17]:
games_price['price_fixed'] = games_price['price'].apply(lambda x: 0 if x in uniques 
                                                        else 499.0 if x=='Starting at $499.00'
                                                        else 449.0 if x=='Starting at $449.00'
                                                        else x)
games_price.head()

          price        id price_fixed
0          4.99  761140.0        4.99
1  Free To Play  643980.0           0
2  Free to Play  670290.0           0
3          0.99  767400.0        0.99
4          2.99  773570.0        2.99

In [19]:
games_price['price_fixed'] = games_price['price_fixed'].astype(float)

In [20]:
columns = ['steam_id', 'item_id']
user_items = pd.read_csv('datasets/aus_users_items.csv', usecols=columns)
user_items.head()

            steam_id  item_id
0  76561197970982479       10
1  76561197970982479       20
2  76561197970982479       30
3  76561197970982479       40
4  76561197970982479       50

In [ ]:
df_merged = user_items.merge(games_price)